<%= link_to "Links", links_path %> <br><br><br>
<%= link_to "Logout", logout_path , method: :delete %> <br><br><br>

<h2>Create a New List!</h2>
<div class="list-form-group">
  <%= flash[:error] %>
  <%= form_for(@list) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <%= f.submit "Create List" %>
  <% end %>
</div><br><br>

<% @lists.each do |list| %>
  <li>
    <%= link_to list.name, list %>
    <%= link_to "Edit", edit_list_path(list) %>
    <%= link_to "Delete", list, method: :delete %>
  </li><br><br>
<% end %>

<h2>Links with no List</h2>
<div id="latest-links">
  <% @unlisted_links.each do |link| %>
    <% if link.read %>
      <strike>
    <% end %>

    <div class='link' data-id='<%= link.id %>'>
    <h6>Published on <%= link.created_at %></h6>
    <p><b id='link-title' contentEditable='true'><%= link.title %></b>
    <p id='link-url' contentEditable='true'><%= link.url %></p>
    <p class='link-quality' id='link-quality<%= link.id %>'>Read: <%= link.read %></p>
    <p>List: <%= link.list ? link.list.name : "None" %></p>

    <% if link.read %>
      </strike>
    <% end %>

    <button id='change-link-status<%= link.id %>' name='button-fetch' class='btn btn-default btn-xs'>Change Status</button></p>
    <button id='delete-link' name='button-fetch' class='btn btn-default btn-xs'>Delete</button></div>
  <% end %>
</div>
