<h1><%= @list %></h1><br><br>

<div id="latest-links">
  <% @list.links.each do |link| %>
    <% if link.read %>
      <strike>
    <% end %>

    <div class='link' data-id='<%= link.id %>'>
    <h6>Published on <%= link.created_at %></h6>
    <p><b id='link-title' contentEditable='true'><%= link.title %></b>
    <p id='link-url' contentEditable='true'><%= link.url %></p>
    <p class='link-quality' id='link-quality<%= link.id %>'>Read: <%= link.read %></p>

    <% if link.read %>
      </strike>
    <% end %>

    <button id='change-link-status<%= link.id %>' name='button-fetch' class='btn btn-default btn-xs'>Change Status</button></p>
    <button id='delete-link' name='button-fetch' class='btn btn-default btn-xs'>Delete</button></div>
  <% end %>
</div>
