<h1>Link Index</h1><br>
<%= link_to "Logout", logout_path , method: :delete %> <br><br><br>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="link-form-group">
      <%= flash[:error] %>
      <%= form_for(@link) do |f| %>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br><br>
        <%= f.label :url %><br>
        <%= f.text_field :url %><br><br>
        <%= f.submit "Create Link" %>
      <% end %>
    </div><br>
  </div>
</div><br><br>

<%= link_to "Lists Index", lists_path %> <br><br><br>

<h1>Link Search</h1>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" id="filter" placeholder="Search">
  </div>
  <h2>Search by Read Status</h2>
  <div class="form-group">
    <input type="text" class="form-control" id="status-filter" placeholder="Search">
  </div>
</form><br><br>

<button id="link-sort-list">Sort A-Z</button><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
      <h1>Latest Links</h1>
      <div id="latest-links">
        <% @links.each do |link| %>
          <% if link.read %>
            <strike>
          <% end %>

          <div class='link' data-id='<%= link.id %>'>
          <h6>Published on <%= link.created_at %></h6>
          <p><b id='link-title' contentEditable='true'><%= link.title %></b>
          <p id='link-url' contentEditable='true'><%= link.url %></p>
          <p class='link-quality' id='link-quality<%= link.id %>'>Read: <%= link.read %></p>

          <% if link.read %>
            </strike>
          <% end %>

          <button id='change-link-status<%= link.id %>' name='button-fetch' class='btn btn-default btn-xs'>Change Status</button></p>
          <button id='delete-link' name='button-fetch' class='btn btn-default btn-xs'>Delete</button></div>
        <% end %>
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>
