<h1>Link Index</h1><br>
<%= link_to "Logout", logout_path , method: :delete %> <br><br><br>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="link-form-group">
      <%= form_for(@link) do |f| %>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br><br>
        <%= f.label :url %><br>
        <%= f.text_field :url %><br><br>
        <%= f.submit "Create Link" %>
      <% end %>
<!--
      <h3>Link Title: </h3><input class="form-control" type="text" id="link-title">
      <h3>Link URL: </h3><input class="form-control" type="text" id="link-url"> -->
    </div><br>
  </div>
</div><br><br>

<h1>Link Search</h1>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" id="filter" placeholder="Search">
  </div>
  <h2>Search by Read Status</h2>
  <div class="form-group">
    <input type="text" class="form-control" id="status-filter" placeholder="Search">
  </div>
</form><br><br>

<button id="link-sort-list">Sort A-Z</button><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
      <h1>Latest Links</h1>
      <div id="latest-links">
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>
